@font-face {
  font-family: "Varah-Bold";
  src: local("Varah-Bold"), url(./fonts/Varah-Bold.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Varah-BoldItalic";
  src: local("Varah-BoldItalic"),
    url(./fonts/Varah-BoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Varah-Italic";
  src: local("Varah-Italic"), url(./fonts/Varah-Italic.otf) format("opentype");
}

@font-face {
  font-family: "Varah-Regular";
  src: local("Varah-Regular"), url(./fonts/Varah-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Calibri-Regular";
  src: local("Calibri-Regular"), url(./fonts/Calibri.ttf) format("truetype");
}

@font-face {
  font-family: "Calibri-Bold";
  src: local("Calibri-Bold"), url(./fonts/Calibrib.ttf) format("truetype");
}

@font-face {
  font-family: "Calibri-Italic";
  src: local("Calibri-Italic"), url(./fonts/Calibrii.ttf) format("truetype");
}
